{#% extends "TwigBundle::layout.html.twig" %#}
{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    {% include 'GovUKFTBundle::gds-css-headers.html.twig' %}
    {% include 'GovUKFTBundle::gds-analytics.html.twig' %}

    <title>{{ block('title') }} - GOV.UK</title>

    <meta name="description" content="Find out what you need to do if your passport has been If you need to travel urgently, you may be able to get an [emergency travel document](/emergency-travel-document) from the Embassy, High Commission or Consulate. You will have to pay a fee. or stolen and how to get a replacement">
    {# @todo where should these files live - all remote, or as part of local assets? #}
    {% stylesheets
        '@CraueFormFlowBundle/Resources/assets/css/buttons.css'
        '@GovUKFTBundle/Resources/public/css/enhancement.css'
    %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/jquery.prettycheckable/1.2/prettyCheckable.css" />
    <link type="text/css" rel="stylesheet" href="https://raw.github.com/bassjobsen/typeahead.js-bootstrap-css/master/typeaheadjs.css" />
{% endblock %}

<body class="mainstream">
    {% include 'GovUKFTBundle::gds-body-header.html.twig' %}

    <div id="alphaMessage">
        <p>This website is in <strong>ALPHA</strong> and all content is subject to change.</p>
    </div>
    <div id="global-breadcrumb" class="header-context">
        <ol role="breadcrumbs" class="group">
            <li><a href="/">Home</a></li>
            <li><a href="https://www.gov.uk/browse/abroad">Passports, travel and living abroad</a></li>
            <li><a href="https://www.gov.uk/browse/abroad/passports">Passports</a></li>
            <li><a href="https://www.gov.uk/report-a-lost-or-stolen-passport"><strong>Report a lost or stolen passport</strong></a></li>
        </ol>
    </div>

  <div id="wrapper" class="answer smart_answer directgov">


{% block body %}
<main id="content" role="main"><div id="js-replaceable">

    <header class="page-header group"><div>
        <h1>{{ block('title') }}</h1>
      </div>
    </header>

    <div class="article-container group">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message">
                <em>Notice</em>: {{ flashMessage }}
            </div>
        {% endfor %}

        <article role="article" class="group">
            <div class="inner">
                {% block content %}{% endblock %}
            </div>
        </article>
    </div>
{% include 'GovUKFTBundle::gds-meta.html.twig' %}

</main>

    {% include 'GovUKFTBundle::gds-related.html.twig' %}
    {% include 'GovUKFTBundle::gds-body-footer.html.twig' %}

<div id="global-app-error" class="app-error hidden"></div>

{% endblock %}

<!-- javascript: -->{#% spaceless %#}
{% block Javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js" type="text/javascript"></script>
    {% javascripts %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{#% endspaceless %#}<!-- end Javascript: -->

</body>
</html>
